@import "css/reset.css";
@import "css/layout.css";
@import "css/rezerv-class.css";
@import "css/custom-units.css";
@import "css/vars.css";





.table-of-contents {
  font-size: 1.3em;
}

.table-of-contents table {
  border-collapse: collapse;
}

.table-of-contents th {
  padding: 2em 0 5px;
  text-align: left;
}

.table-of-contents td {
  padding: 0.1em 1em 0.3em;
}













































































































